.filter-select-time-interval {
  font-family: 'Roboto';
  width: 265px;
  height: 45px;
  box-sizing: border-box;
  font-family: 'Roboto';
  outline: none;
}

.filter-select-time-interval__container {
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 18px;
}

.filter-select-time-interval__container_day {
  color: #000;
  background-color: #fff;
  transition: background-color 300ms linear;
  border: 1px solid rgba(0, 0, 0, .3);
}

.filter-select-time-interval__container_naight {
  color: #fff;
  background-color: #000;
  transition: background-color 300ms linear;
  border: 1px solid rgba(255, 255, 255, .3);
}

.filter-select-time-interval__container_focus-naight {
  border-color: #fff;
}

.filter-select-time-interval__container_focus-day {
  border-color: #000;
}

.filter-select-time-interval__input-view-selected-text {
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
  background-color: transparent;
  align-self: center;
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
}

.filter-select-time-interval__btn-container {
  display: flex;
  justify-content: space-between;
  width: 30px;
  align-self: center;
}

.filter-select-time-interval__form-data {
  box-sizing: border-box;
  visibility: hidden;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px 21px 20px;
}

.filter-select-time-interval__form-data_day {
  border-color: #000;
}

.filter-select-time-interval__form-data_naight {
  border-color:#fff;
}

.filter-select-time-interval__form-data_open {
  visibility: visible;
}

.filter-select-time-interval__form-data-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.filter-select-time-interval__input-date {
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  height: 45px;
  max-width: 95px;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 0 15px;
  overflow: hidden;
  white-space: nowrap;
}

.filter-select-time-interval__error-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter-select-time-interval__error-item-list {
  font-size: 10px;
  color: red;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  list-style-type: none;
}

.filter-select-time-interval__error-item-list::before {
  content: '';
  list-style-type: circle;
  display: list-item;
  float: left;
  margin: 0 -8px 0 8px;
}

.filter-select-time-interval__input-date_day {
  background-color: #efefef;
}

.filter-select-time-interval__input-date_naight {
  background-color: #fff;
}

.filter-select-time-interval__dash-sigh {
  color: inherit;
  margin: 15px 8px 0;
}

.filter-select-time-interval__dash-sigh_day {
  color: #000;
}

.filter-select-time-interval__dash-sigh_naight {
  color: #fff;
}