$imageCrashAppThemeDay: url('../../images/image_crash_app_theme_day.svg');
$imageCrashAppThemenaight: url('../../images/image_crash_app_theme_naight.svg');

.page-crash-app {
  font-family: 'Roboto';
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  height: 50vh;
  &_theme-day {
    background-image: $imageCrashAppThemeDay;
    color: #000;
  }
  &_theme-naight {
    background-image: $imageCrashAppThemenaight;
    color: #fff;
  }
}

.page-crash-app__block-text {

}

.page-crash-app__title {
  margin: 0;
  margin-top: 25px;
}

.page-crash-app__description {
  margin: 0;
  margin-top: 25px;
  font-weight: 600;
}

@media screen and (max-width: 1365px) {
  .page-crash-app {
  }

  .page-crash-app__description {
  }

  .page-crash-app__title {
  }
}

@media screen and (max-width: 1024px) {
  .page-crash-app {
    height: 65vh;
    margin-left: 42px;
    margin-right: 42px;
    font-size: 35px;
  }

  .page-crash-app__description {
    line-height: 61px;
  }

  .page-crash-app__title {
    font-size: 50px;
    line-height: 59px;
  }
}

@media screen and (max-width: 925px) {
  .page-crash-app {
    height: 55vh;
  }
}

@media screen and (max-width: 768px) {
  .page-crash-app {
    font-weight: 600;
    height: 40vh;
    margin-left: 34px;
    margin-right: 34px;
    font-size: 30px;
    height: 55vh;
    margin-top: 10%;
  }

  .page-crash-app__description {
    line-height: 55px;
  }

  .page-crash-app__title {
    font-size: 45px;
    line-height: 53px;
  }
}

@media screen and (max-width: 425px) {
  .page-crash-app {
    height: 45vh;
    font-size: 23px;
    font-weight: 500;
    margin-top: 15%;
  }

  .page-crash-app__block-text {
    max-width: 203px;
  }

  .page-crash-app__title {
    font-size: 45px;
    line-height: 47px;
  }

  .page-crash-app__description {
    line-height: 28px;
  }
}

@media screen and (max-width: 320px) {
  .page-crash-app {
    height: 38vh;
    font-size: 20px;
  }
}