.btn-switch-theme {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.btn-switch-theme .btn-switch-theme__checker {
  display: none;
}

.btn-switch-theme__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  -webkit-transition: .4s;
}

.btn-switch-theme__slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-image: url('../../images/btn-theme_light-icon.svg');
}

.btn-switch-theme__checker:checked + .btn-switch-theme__slider::before {
  background-image: url('../../images/btn-theme_dark-icon.svg');
}

