.btn-reset-cross {
  width: 8px;
  height: 8px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 300ms linear;
  align-self: center;
  border: none;
  outline: none;
  background-color: transparent;
}

.btn-reset-cross_theme-day {
  background-image: url('../../images/btn_reset_cross_day_theme.svg');
}

.btn-reset-cross_theme-naight {
  background-image: url('../../images/btn_reset_cross_naight_theme.svg');
}

.btn-reset-cross:hover {
  transform: scale(1.8);
}

.btn-reset-cross_theme-day:hover {
  cursor: url('../../images/cursor_pointer_day_theme.svg'), pointer;
}

.btn-reset-cross_theme-naight:hover {
  cursor: url('../../images/cursor_pointer_naight_theme.svg'), pointer;
}