$colorElementsThemeDay: rgba($color: #000000, $alpha: .3);
$colorElementsThemeNaight: rgba($color: #ffffff, $alpha: .3);

.preloader {
  font-family: 'Roboto';
  width: 100%;
  height: 303px;

  display: flex;
  flex-direction: column;
  align-items: center;
  &_theme-day {
    //  цвет текста
    color: $colorElementsThemeDay;
  }
  &_theme-naight {
    color: $colorElementsThemeNaight;
  }
}

.preloader__image-moving-circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid transparent;
  transform: rotate(45deg);
  animation: animate 4s ease-in-out infinite;
  &_theme-day {
    border-bottom: 5px solid $colorElementsThemeDay;
    border-right: 5px solid $colorElementsThemeDay;
  }
  &_theme-naight {
    border-bottom: 5px solid $colorElementsThemeNaight;
    border-right: 5px solid $colorElementsThemeNaight;
  }
  & .preloader__image-moving-ball {
    display: block;
    position: absolute;   //  абсолютное позиционирование
    top: 0; //  позиция сверху
    left: 0;  //  позиция слева
    width: 100%;  //  ширина круга
    height: 100%; //  высота круга
    border-radius: 50%; //  закругление углов
    animation: animateBall 4s ease-in-out infinite;
    &::before {
      content: '';  //  контент пустой
      position: absolute;
      bottom: 50%;  //  позиция снизу
      transform: translateY(-50%);  //  сдвиг по оси Y
      right: 15px;  //  позиция справа
      width: 15px;  //  ширина мячика
      height: 15px; //  высота мячика
      border-radius: 50%;
    }
    &_theme-day::before {
      background: $colorElementsThemeDay; //  цвет мячика
    }
    &_theme-naight::before {
      background: $colorElementsThemeNaight; //  цвет мячика
    }
  }
  
  @keyframes animate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-360deg);}
    100% {transform: rotate(0deg);}
  };

  @keyframes animateBall {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-360deg);}
    100% {transform: rotate(0deg);}
  }
}

.preloader__description-process {
  margin-top: 20px;
  font-style: italic;
  font-size: 20px;
}