.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 123px 0 123px;
}

.header__logo {
  max-width: 64px;
  max-height: 64px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 1365px) {
  .header {
    margin-left: 42px;
    margin-right: 42px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin-left: 34px;
    margin-right: 34px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    margin-left: 20px;
    margin-right: 20px;
  }
}