.nav-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 300ms linear;
  width: 100%;
}

.nav-search_day {
  background-color: #fff;
}

.nav-search_naight {
  background-color: #000;
}