.section-search {
  display: flex;
  align-items: center;
  transition: background-color 300ms linear;
  width: 100%;
}

.section-search_day {
  background-color: #fff;
}

.section-search_naight {
  background-color: #000;
}