@import url("./vendor/fonts/index.css");

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1366px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--background-color);
  transition: background-color 300ms linear
}

/* style dark theme */
html[data-theme='dark'] {
  --background-color: #000;
  --border-iframe-color: rgba(255, 255, 255, .3);
  --border-iframe-focus-color: #fff;
  --text-color: #fff;
  --selection-color: #fff;
  --text-selection-color: #000;
}


/* style light theme */
html[data-theme='light'] {
  --background-color: #fff;
  --border-iframe-color: rgba(0, 0, 0, .3);
  --border-iframe-focus-color: #000;
  --text-color: #000;
  --selection-color: #000;
  --text-selection-color: #fff;
}