.filter-select-list-item {
  height: 45px;
  box-sizing: border-box;
  position: relative;
  font-family: 'Roboto';
  outline: none;
}

.filter-select-list-item__container {
  height: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 18px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  &_theme-day {
    color: #000;
    border: 1px solid rgba(0, 0, 0, .3);
  }
  &_theme-naight {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .3);
  }
  &_focus-theme-day {
    border-color: #000;
  }
  &_focus-theme-naight {
    border-color: #fff;
  }
}

.filter-select-list-item__btn-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.filter-select-list-item__input-display-selected-text {
  font-size: 13px;
  align-self: center;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
}

.filter-select-list-item__display-selected-text {
  &::placeholder {
    color: rgba(255, 255, 255, .3);
  }
}